 

     

    <div>

        <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

            <div class="container">

            <div class="row align-items-center">

            <div class="col-6 col-xl-2">

            <h1 class="mb-0 site-logo"><a href="">M2SOLUTIONS<span class="text-primary"></span> </a></h1>

            </div>

            <div class="col-12 col-md-10 d-none d-xl-block">

            <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">

            <li><a href="#home-section" class="nav-link" id = "header">Home</a></li>

           

            <li><a href="#our-features" class="nav-link" id = "header">Our Features</a> </li>

         

            <button routerLink="signin" type="button" class="btn btn-primary" id = "button">SIGN IN</button>

           

            <button type="button" routerLink="signup" class="btn btn-primary">SIGN UP</button>

            <!-- <button type="button" routerLink="/adddatabase" class="btn btn-primary">adddatabase</button> -->

   

        </ul>

    </nav>

    </div>

    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

    </div>

    </div>

    </header>

    </div>

    <br><br><br><br><br>

    <div class="flex">

        <div class = "box">

            <p id = "flex1" style="width: 500px; height: 100px; line-height: 50px;">CUSTOMER CENTRIC CRM SOLUTION</p>

            <p style="font-size: 30px; line-height: 50px;">Track leads, close opportunities

                and get accurate forecasts.</p>

            </div>    

            <img src="assets/crm animate.gif" alt="Computer man" style="width:700px;height:500px;">    

        </div>

        <router-outlet></router-outlet>

       

       

       

   