#title
{
    text-align: center;
    margin-top: 5%;
}
#dropdown
{
    margin-left:5%;
    font-size: large;
}
#industry{
    margin-top: 5%;
}
#button{
    margin-top:10%;
    margin-left: 40%;
}
